.c-combobox.t-combobox--inline {
  display: inline-block;

  .c-combobox__toggle {
    background-color: transparent;
    border: 0;
    display: inline-block;
    padding-left: 0;
    padding-right: 1em;
  }

  .c-combobox__toggle-icon::after {
    right: 0;
  }

  .c-combobox__toggle.is-warning {
    color: $combobox--warning-color;
  }
}

